.dataTable tbody tr {
  cursor: pointer;
}

.slider {
  width: 70% !important;
  display: inline-block !important;
  margin: 0 3px 0 0  ;
}

.slider-input {
  width: 20% !important;
  display: inline-block !important;
}

#categories {
  height: 200px;
}

#warrantyOffered {
  height: 20px;
  width: 20px;
}

#warranty {
  height: 310px;
}

.actions {
  button {
    width: 48%;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
    &:first-child:last-child {
      width: 100%;
    }
  }
}

.combobox__results,.combobox__selected {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

.combobox__selected {
  > li {
    display: inline-block;
    margin: 0.25rem;
  }

  .btn {
    margin-left: 3px;
    padding: 2px 5px;
  }
}

.combobox__results {
  > li {
    &:hover {
      background-color: #eee;
    }
    border-bottom: 1px solid #ddd;
  }
}

.business-error {
  color: red;
}

#delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100,100,100,0.5);
}

.delete-popup__form {
  padding: 1rem;
  width: 300px;
  margin: 100px auto;
  background: white;
}