.slider {
  width: 70% !important;
  display: inline-block !important;
  margin: 0 3px 0 0  ;
}

.slider-input {
  width: 20% !important;
  display: inline-block !important;
}

#categories {
  height: 383px;
}

#warrantyOffered {
  height: 20px;
  width: 20px;
}

#warranty {
  height: 310px;
}

#submit {
  width: 100%;
}

.combobox__results,.combobox__selected {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

.combobox__selected {
  > li {
    display: inline-block;
    margin: 0.25rem;
  }

  .btn {
    margin-left: 3px;
    padding: 2px 5px;
  }
}

.combobox__results {
  > li {
    &:hover {
      background-color: #eee;
    }
    border-bottom: 1px solid #ddd;
  }
}