
// Fonts
@import url("https://fonts.googleapis.com/css?family=Patua+One:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome";
// Fonts
@import "fonts";

// Admin
@import "admin";

.header__link {
    float: right;
    margin-top: 3rem;
}


// Components
@import "sidebar";
@import "map";
@import "business";

// Global
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;

  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}
