#map-desktop-container {
  height: 100%;
}

#map-desktop {
  height: 100vh;
  position: relative;
}

#map-mobile {
  height: 0;
}

@media(min-width:768px) {
  #map-mobile {
    display: none;
  }
}

@media(max-width:767px) {
  #map-desktop-container {
    display: none;
  }
}

.business-popup {
  position: absolute;
  top: 1rem;
  left: 33%;
  width: 33%;
  min-width: 400px;
  background-color: white;
}

.business-popup__close {
  float: right;
  border: 0;
  border-radius: 0;
  padding: 0.3rem;
}

.business-popup .business__heading {
  color: white;
  background-color: #0094a7;
  padding: 1rem;

  > :last-child {
    margin-bottom: 0;
  }
}

.business-popup .business__positive-review-percentage > h2 {
  color: white;
  font-size: 2rem;
  margin-right: 0.25rem;
}

.business-popup .business__details {
  padding: 0 1rem 1rem 1rem;
}
