#map-desktop-container {
  height: 100%;
}

#map-desktop {
  height: 100vh;
  position: relative;
}

#map-mobile {
  height: 0;
}

@media(min-width:768px) {
  #map-mobile {
    display: none;
  }
}

@media(max-width:767px) {
  #map-desktop-container {
    display: none;
  }
}

.business-popup {
  position: absolute;
  top: 1rem;
  left: 33%;
  width: 33%;
  min-width: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.business-popup__close {
  float: right;
  border: 0;
  border-radius: 0;
  padding: 0.3rem;
}

.business-popup .business__heading {
  color: white;
  background-color: #0094a7;
  padding: 1rem;

  > :last-child {
    margin-bottom: 0;
  }
}

.business-popup .business__positive-review-percentage > h2 {
  color: white;
  font-size: 2rem;
  margin-right: 0.25rem;
}

.business-popup .business__details {
  padding: 0 1rem 1rem 1rem;
}

.form-control#location::placeholder {
    color: #ccc;
}

#survey-link {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    border-radius: 0 10px 0 0;
    border: 1px solid #bbb;
    border-bottom: 0;
}


#more-info {
    font-size: 0.8rem;
    cursor: pointer;
}

#more-info-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: white;

    &-close {
        float: right;
        border: 0;
        border-radius: 0;
        padding: 0.3rem;
    }

    &__content {
        padding: 1rem;
    }
}

.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 14px;
}

.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}
